.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(19, 44, 53);
  color: white;
}

.nav-links {
  display: flex;
  width: 40%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.Countries {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.country {
  display: flex;
  justify-content: space-around;
  width: 50%;
  align-items: center;
  background-color: blueviolet;
  color:rgb(19, 44, 53);
  border-bottom: 2px solid gray;
}